<html ng-app="QuickRun">
  <head>
        <title>Tasks</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script type="text/javascript">
        var QuickRun = angular.module=("QuickRun", ["firebase"]);

        function TaskController($scope) {
          $scope.tasks = [];
          var someTask = $scope.tasks;
          $scope.addTask = function () ,{
            var newTask = $scope.task;
            var oldTask;

            angular.forEach($scope.task, function(eachtask) {
              someTask.push(newTask);
            })
          }
        }
      </script>

      <style>
      td { border: 1px solid black; }
      li { display: inline; }
      </style>

  </head>
  <body ng-controller="TaskController">
    
    <h1 style="text-align:center">Quick Run</h1>
    <div class="navigation" ng-app="navlist">
        <ul class="nav nav-list" ng-controller="navCtrl">
          <li ng-class="navClass('task')"><a href="task.html">Tasks</a></li>
          <li ng-class="navClass('routes')"><a href="map.html">Routes</a></li>
        </ul>
    </div>
    <div id="taskinput" ng-controller="TaskController">


<div class="row">
      <input type="text" ng-model="job" placeholder="task" />        
      <input type="text" ng-model="location" placeholder="location" />
      <input type="text" ng-model="deadline" placeholder="deadline" />
      <button type="button" ng-click="addTask()">Add Task</button>
</div>
      
    <table border="1" cellpadding="10">
       <thead>
         <tr>
           <th>
              Task
           </th>
           <th>
              Location
          </th>
          <th>
              Deadline
          </th>
          <th>

          </th>
        </tr>
      </thead>
      <body>
         <tr ng-repeat="task in tasks">
           <td>
             {{ task.job }}
          </td>
          <td>
             {{ task.location }}
          </td>
          <td>
             {{ task.deadline }}
          </td>
          <td>
             <button type="button" ng-click="removeTask($index)">Remove Task</button>
          </td>
        </tr>
      </body>
    </table>
      <script type="text/javascript">
        var QuickRun = angular.module=("QuickRun", ["firebase"]);

      </script>

    <div>
  </body>
</html>