<!-- When this element is clicked, hide the tooltip -->
<div id="main" ng-app ng-controller="InlineEditorController">

<div class="row">
	<!-- This is the tooltip. It is shown only when the showtooltip variable is truthful -->
	<div class="tooltip" ng-show="showtooltip">
		<input type="text" ng-model="value" />        
	</div>
    <div class="location" ng-show="showlocation">
		<input type="text" ng-model="value_loc" />
	</div>
    <div class="deadline" ng-show="showtime">
    	<input type="text" ng-model="value_time" />
	</div>
</div>

</div>